
    <section class="container-fluid forms">
      <div class="form login">
          <div class="form-content">
              <h2>Register</h2>
              <form >
                  <div class="field input-field">
                      <input type="Name" [formControl]="Name" placeholder="Name" class="input">
                      <i class="bi bi-person-fill person-icon"></i>
                  </div>
                  <div class="field input-field">
                      <input type="Email" [formControl]="Email" placeholder="Email" class="input">
                      <i class="bi bi-envelope email-icon"></i>
                  </div>
                  <div class="field input-field">
                      <input type="MobileNo" [formControl]="MobileNo" placeholder="MobileNo" class="input">
                      <i class="bi bi-phone mob-icon"></i>
                  </div>
                  <div class="field input-field">
                      <input type="password" [formControl]="Password" placeholder="Password" class="password">
                      <i class="bi bi-eye-slash eye-icon"></i>
                  </div>
                  <div class="field input-field">
                      <input type="password" placeholder="Confirm Password" class="password">
                      <i class="bi bi-eye-slash eye-icon"></i>
                  </div>

                  <div class="field button-field">
                      <button routerLink="/login" (click)="registerSubmit()" >Register</button>
                  </div>
              </form>
          </div>
      </div>
</section>
