<main>
  <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
      <div class="col" >
        <div class="card shadow-sm">
          <img src="../../assets/Image/product/HP-15s-12th-Gen-Intel-Core-i5-8GB-RAM.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="clearfix mb-3">
              <span class="float-start badge rounded-pill bg-primary">Hpsdsdsdsdsdsds</span>
              <br>
              <span class="float-right">
              <span class="float-end price-hp">&#8377; 12,30433</span>
            </span>
            </div>
            <h5 class="card-title">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi amet dolorem possimus deleniti minus eaque temporibus eius? Minima dolore reprehenderit harum qui, excepturi rerum repellat cupiditate placeat libero tempore doloribus.</h5>
            <div class="text-center my-4"> <button class="btn btn-warning"> Add to cart </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
