<section class="container-fluid forms">
  <div class="form login">
      <div class="form-content">
          <h2>Login</h2>
          <form >
              <div class="field input-field">
                  <input type="email" placeholder="Email" class="input">
                  <i class="bi bi-envelope email-icon"></i>
              </div>

              <div class="field input-field">
                  <input type="password" placeholder="Password" class="password">
                  <i class="bi bi-eye-slash eye-icon"></i>
              </div>


              <div class="field">
                  <button>Login</button>
              </div>
          </form>

          <div class="form-link">
              <span>Don't have an account? <a routerLink="/register" class="link signup-link">Signup</a></span>
          </div>
          <div class="form-link">
              <a routerLink="/forgetpassword" class="forgot-pass">Forgot password?</a>
          </div>
      </div>
  </div>

  </section>
