 <!-- <div class="continer"  >
      <h1 >Contact us </h1>
 </div> -->

 <div class="container-fluid">
    <h1 id="contact1"><b>Contact Us</b></h1>
    <div class="row">

        <div class="col-lg-4" id="email">
        <p><i class="bi bi-envelope-fill"></i></p>
        <h5>Akshop123@gmail.com</h5>
      </div>
      <div class="col-lg-4" id="Address">
        <p><i class="bi bi-geo-alt-fill"></i></p>
        <h5>Mumbai ,India</h5>
      </div>
      <div class="col-lg-4" id="contact">
        <p><i class="bi bi-telephone-fill"></i></p>
        <h5>9123456780</h5>
      </div>

    </div>
    <hr class="w3-opacity">
    <p>For More write to us </p>

    <!-- form here  -->

    <form>
      <div class="form-group">
        <label for="exampleFormControlInput1">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Subject</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="subject">
      </div>

      <div class="form-group">
        <label for="exampleFormControlTextarea1">Query</label>
        <textarea class="form-control" id="exampleFormControlTextarea1"  placeholder="Message" rows="3"></textarea>
      </div>
    </form>
      <br>
  </div>

