 <!-- <div class="continer"  >
      <h1 >Contact us </h1>
 </div> -->

 <div class="container-fluid">
    <h1 id="contact1"><b>Contact Us</b></h1>
    <div class="row">
      
        <div class="col-lg-4" id="email">
        <p><i class="bi bi-envelope-fill"></i></p>
        <h5>Akshop123@gmail.com</h5>
      </div>
      <div class="col-lg-4" id="Address">
        <p><i class="bi bi-geo-alt-fill"></i></p>
        <h5>Mumbai ,India</h5>
      </div>
      <div class="col-lg-4" id="contact">
        <p><i class="bi bi-telephone-fill"></i></p>
        <h5>9123456780</h5>
      </div>
    
    </div>
    <hr class="w3-opacity">
    <p>For More write to us </p>

    <!-- form here  -->

    <form class="form-inline" action="/action_page.php">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email1" placeholder="Enter email" name="email">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="remember"> Remember me
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <br>
  </div>

